.header
    .container
        .header-wrapper
            .header-block1
                .logo
                    a(href="#").logo-link
                        img(src="./assets/imgs/logo.svg", alt="logo").logo-img
                .licence
                    img(src="./assets/imgs/licence.svg", alt="licence").licence-img
            .header-block2
                nav.nav
                    ul.nav-list
                        li.nav-li
                            a(href="#").nav-link Услуги
                        li.nav-li
                            a(href="#").nav-link Бланки
                        li.nav-li
                            a(href="#").nav-link О нас
                        li.nav-li
                            a(href="#").nav-link Контакты
            .header-block3
                .contacts
                    .tel-number
                        a(href="#").tel-number-link +1 234 5678910
                .socials
                    svg.socials-img
                        use(xlink:href="./assets/imgs/sprite.svg#call")
                    svg.socials-img
                        use(xlink:href="./assets/imgs/sprite.svg#skype")
.header-wr
    .container
        .header-inner
            .header-inner-block1
                .info1
                    p.info1-p Страхование по подписке В Израиле
                .info2
                    p.info2-p Решим все ваши финансовые страховые вопросы 
                        span.info2-p-clr online от 59 ₪ в месяц
                .info3
                    a(href="#").info3-link Онлайн консультация
                    p.info3-p Бесплатно. Конфиденциально.
                .info4
                    .info4-inner
                        .info4-inner-wr
                            svg.info4-inner-wr-img
                                use(xlink:href="./assets/imgs/sprite.svg#pic-bg")
                            span.info4-inner-wr-img2
                                svg.info4-inner-wr-img2-wr
                                    use(xlink:href="./assets/imgs/sprite.svg#pic1")
                        p.info4-inner-p Страховые программы
                    .info4-inner
                        .info4-inner-wr
                            svg.info4-inner-wr-img
                                use(xlink:href="./assets/imgs/sprite.svg#pic-bg")
                            span.info4-inner-wr-img2
                                svg.info4-inner-wr-img2-wr
                                    use(xlink:href="./assets/imgs/sprite.svg#pic2")
                        p.info4-inner-p Компенсации по искам
                    .info4-inner
                        .info4-inner-wr
                            svg.info4-inner-wr-img
                                use(xlink:href="./assets/imgs/sprite.svg#pic-bg")
                            span.info4-inner-wr-img2
                                svg.info4-inner-wr-img2-wr
                                    use(xlink:href="./assets/imgs/sprite.svg#pic3")
                        p.info4-inner-p Пенсионные начисления
                    .info4-inner
                        .info4-inner-wr
                            svg.info4-inner-wr-img
                                use(xlink:href="./assets/imgs/sprite.svg#pic-bg")
                            span.info4-inner-wr-img2
                                svg.info4-inner-wr-img2-wr
                                    use(xlink:href="./assets/imgs/sprite.svg#pic4")
                        p.info4-inner-p Выход на пенсию
            .header-inner-block2
                img(src="./assets/imgs/family.png", alt="family").header-inner-block2-img